* {
  margin: 0 auto;
  padding: 0;
  background-color: DodgerBlue;
}
h3 {
  display: flex;
  padding-top: 2rem;
  padding-left: 8%;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  color: white;
  font-weight: 900;
}
.container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}

form {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  form {
    flex-direction: column;
  }
}

form .item > div {
  font-family: "Roboto", sans-serif;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border-radius: 2px;
}
.button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

figure {
  display: block;
  background-color: #f1f1f1;
}

img {
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
}

figcaption {
  display: flex;
  padding: 5rem;
  font-size: medium;
  background-color: DodgerBlue;
  color: white;
  font-style: italic;
  font-weight: bold;
  padding: 2px;
  text-align: left;
}

h6 {
  padding: 0.5rem;
  color: white;
  font-size: medium;
  text-align: left;
  font-style: italic;
}
